*{
    --main-green: #b1e918;
    --darker-blue: #1ea6a6;
    --light-blue: #14c4c4;
    --main-gray: #e6e1e1;
    font-family: "Work Sans", sans-serif;
}

body{
    background-color: var(--main-gray);
    position: relative;
    width: 100%;
    height: 100%;
}

#container{
    position: relative;
    top: 75px;
    margin: auto;
    margin-bottom: 105px;
    width: 700px;
    height: 500px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    padding: 15px;
    border: none;
    border-radius: 8px;

}

#heading{
    grid-area: 1/1/2/3;
    background-color: rgb(250, 246, 246);
    color:black;
    padding: 15px 25px;
}

#heading h1{
    color:#14c4c4;
    font-size: 30px;
}

#heading h3{
    color:#b1e918;
    
}

#heading p{
    color: darkgray;
    font-weight: 500;
}

#box-1{
    grid-area: 2/1/3/2;;
    display: flex;
    flex-direction: column;
    background-color:#1ea6a6;
    color: rgb(233, 227, 227);
    padding: 15px 25px;
    font-weight: 600;
    position: relative;
}

#special {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    width: auto;
}

#special pre{
    font-size: 30px;
    align-self: center;
}

#special p{
    color: #2cd4d4;
    align-self: center;
}

.button{
    position:relative;
    width: 90%;
    height: auto;
    background-color: #b1e918;
    color:rgb(233, 227, 227);
    border: none;
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin: auto;
    box-shadow: -2px 5px 10px #147272;
}

#box-2{
    grid-area: 2/2/3/3;
    background-color:#14c4c4;
    color: rgb(233, 227, 227);
    padding: 15px 25px;
    font-weight: 600;
    line-height: 0.8cm;
}

@media(max-width: 650px){
    #container{
        display: flex;
        flex-direction: column;
        width: 450px;
        height: auto;
        padding: 15px;
        border-radius: 5px;
    }
    }